* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 1rem;
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

main .buttons {
  align-self: center;
}

.container {
  width: 75%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.container div {
  border: solid black;
}

.container .books {
  padding: 0.75rem;

  display: grid;
  gap: 1rem;
}

.books img {
  justify-self: end;;
}

dialog {
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
}

.buttons button {
  margin-top: 1rem;
  padding: 0.25rem;
}